{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="bg-transparent">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Legg til Prosjekt</h1>
    </div>
    <form class="user" method="post">
      {% csrf_token %}
      <div>
        <input type="text" class="form-control form-control-user bg-gradient-dark-highlight" id="name" name="name"
          required="" data-container="body" placeholder="Project name" />
      </div>
      {% for error in form.user.errors %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          <strong>{{ error }}</strong>
        </div>
      </div>
      {% endfor %}
      <div class="form-group text-lg-center pt-5">
        <select class="selectpicker" data-style="btn-select-color-custom" title="Select teams" type="number" name="teams" multiple data-live-search="true">
          {% for group in teams %}
          <option value="{{ group.id }}">{{ group.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group pt-xl-5">
        <button class="btn btn-primary btn-user btn-block" type="submit">
          Create
        </button>
      </div>
      {% for error in form.non_field_errors %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          <strong>{{ error }}</strong>
        </div>
      </div>
      {% endfor %} {% if error %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          <strong>{{ error }}</strong>
        </div>
      </div>
      {% endif %}
    </form>
    <hr />
  </div>
</div>
{% endblock %}