{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="bg-transparent">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Assign permission</h1>
    </div>
    <form class="user" method="post">
      {% csrf_token %} {% for error in form.user.errors %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          <strong>{{ error }}</strong>
        </div>
      </div>
      {% endfor %}
      <div class="form-group row">
        <div class="col-sm-6">
          <select class="selectpicker" data-style="btn-select-color-custom" title="Select permissions" type="number" name="perms" multiple
            data-container="body" data-live-search="true">
            {% for perm in perms %}
            <option value="{{ perm.pk }}">{{ perm.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-6 text-lg-right">
          <select class="selectpicker" data-style="btn-select-color-custom" title="Select Users To Add" type="number" name="users" multiple
            data-live-search="true">
            {% for user in users %}
            <option value="{{ user.id }}">
              {{ user.first_name }} {{ user.last_name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-user btn-block" type="submit">
          Create
        </button>
      </div>
      {% for error in form.non_field_errors %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          <strong>{{ error }}</strong>
        </div>
      </div>
      {% endfor %} {% if error %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          <strong>{{ error }}</strong>
        </div>
      </div>
      {% endif %}
    </form>
    <hr />
  </div>
  {% endblock %}
</div>