{% extends 'base.html' %}
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
   <h1 class="h4 text-gray-900 mb-4">Passord link sendt</h1>
   <h5 class="h4 text-gray-900 mb-4">Vi har sendt en epost med instruksjoner for å endre passordet, om en bruker med epost addressen du oppga eksisterer så vil du motta den straks.</h5><br>
   <h6 style="width: 60%; margin: 0 auto" class="h4 text-gray-900 mb-4">Om du ikke mottar eposten, venligst sjekk om eposten du oppga er korrekt.</h6>
</div>
<div class="text-center">
  <a href="{% url 'profile' %}">Tilbake til start</a>
</div>
{% endblock%}