{% extends 'base.html' %}
{% block content %}
<body>
<div class="container">
    <div class="bg-transparent">
        <div class="text-center" style="width: 80%; margin: 0 auto">
            <h1 class="h4 text-gray-900 mb-4">Endre passord </h1>
            <h3 class="h4 text-gray-900 mb-4">
                Glemt passord? Fyll inn e-post også sender vi deg en link.
            </h3>
        </div>
        <br/>

        <form action="" method="POST" class="text-center" name="asd" class="user">
            {% csrf_token %}
            {{form}}

            <input class="btn btn-primary btn-user btn-block" type="submit" value="Send e-post"/><br>
        </form>
        <br/>
        <div class="text-center">
            <a href="{% url 'login' %}">Tilbake til start</a>
        </div>
    </div>
</div>
</body>
{% endblock%}