{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Velg Oppgave</h1>
</div>
<form class="user" method="post" name="display">
    {% csrf_token %}

    <div>
        <select name="task_id" class="form-control form-control-file bg-gradient-dark-highlight" required>
            <option selected disabled value="">--Velg oppgave--</option>
            {% for task in all_tasks %}
            <option value="{{ task.id }}">{{ task.task_name }}</option>
            {% endfor %}
        </select>


    </div>

    &nbsp;

    <button id="button"
            class="btn btn-primary btn-user btn-block"
            type="submit" name="button" value="edit"
    >
        Endre
    </button>
    &nbsp;
    <div class="text-center">
        <a class="small" href="create">Tilbake</a>
    </div>


</form>
<hr/>
{% endblock %}