{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

    {% if dashboard_tasks %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
    {% endif %}
  <title>Coombboom</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'vendor\bootstrap-select-1.13.14\dist\css\bootstrap-select.min.css' %}" rel="stylesheet"
    type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Custom scripts for all pages-->
  <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/coombboom.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/html2pdf/html2pdf.bundle.min.js' %}"></script>
</head>

<body class="bg-color-dark-gray">
  <div class="row bg-color-dark-blue menu-shadow m-0">
    {% include 'navigation_bar.html' %}
  </div>
  <div class="row d-flex flex-row h-100 m-0 justify-content-center">
    {% include 'navigation_bar_menu.html' %}
    <div id="MainContentContainer" class="container chartImage" style="
    max-width: 70%;
">
    <div class="row flex-row justify-content-center">
    {% if dashboard_tasks %}
    <div class="col-xl-5 flex-grow-1 align-items-center">
            <div class="container-fluid main-screen-padding">
            {% include 'dashboard_tasks.html' %}
            </div>
    </div>
    {% endif %}
    <div class="col-xl-7 flex-grow-1 align-items-center">
      <div class="container-fluid main-screen-padding">
        <main>
          {% block content %} {% endblock %} {% if toast %}
          <div class="alert alert-success form-group text-center mt-3" role="alert">
            {{ toast }}
          </div>
          {% endif %}
        </main>
      </div>

    </div>
    <!-- <div class="col-3 flex-grow-1 align-items-center"></div> -->
    </div>
    {% if display_workreg %}
    <div class="flex-row">
    <div class="container-fluid main-screen-padding chartImage bg-color-dark-gray">
            {% include 'datatable_dashboard.html' %}
        {% if request.path == '/dashboard/project' or request.path == '/dashboard/team' %}
            {% include 'export_data.html' %}
        {% endif %}
    </div>
    </div>
    {% endif %}
  </div>
  </div>

</body>

</html>